.navbar li {
            width: 120px;
            height: 50px;
            border: 1px solid black;
            align-items: center;
}

.navbar ul {
            display: flex;
            list-style: none;
            background-color: aquamarine;
        }

.navbar li:hover {
            background-color: bisque;
}

.navbar li a {
            text-decoration: none;
            color: black;
}
